@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebas/Bebas Neue.eot');
    src: url('../fonts/bebas/Bebas Neue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas/bebas neue.woff2') format('woff2'),
        url('../fonts/bebas/bebas neue.woff') format('woff'),
        url('../fonts/bebas/Bebas Neue.ttf') format('truetype'),
        url('../fonts/bebas/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/Proxima Nova.eot');
    src: url('../fonts/proxima-nova/Proxima Nova.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proxima-nova/Proxima Nova.woff2') format('woff2'),
        url('../fonts/proxima-nova/Proxima Nova.woff') format('woff'),
        url('../fonts/proxima-nova/Proxima Nova.ttf') format('truetype'),
        url('../fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'proxima-nova-light';
    src: url('../fonts/proxima-nova-light/Proxima Nova Light.eot');
    src: url('../fonts/proxima-nova-light/Proxima Nova Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proxima-nova-light/Proxima Nova Light.woff2') format('woff2'),
        url('../fonts/proxima-nova-light/Proxima Nova Light.woff') format('woff'),
        url('../fonts/proxima-nova-light/Proxima Nova Light.ttf') format('truetype'),
        url('../fonts/proxima-nova-light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/museo-sans/MuseoSansMedium.eot');
    src: url('../fonts/museo-sans/MuseoSansMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/museo-sans/MuseoSans-Medium.woff2') format('woff2'),
        url('../fonts/museo-sans/MuseoSansMedium.woff') format('woff'),
        url('../fonts/museo-sans/MuseoSansMedium.ttf') format('truetype'),
        url('../fonts/museo-sans/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal
}