.footer-wrapper {
    background: linear-gradient( rgba(0, 0, 0, 0.363), transparent, transparent);
}

.footer {

    a, h6 {
        font-family: 'museo-sans';
        color: black;
        font-size: 10pt
    }
    

    h5 {
        font-family: 'proxima-nova';
        color: black;
        font-size: 10pt;
        padding-top: 4%
    }

    #legals {
        text-align: left;
        padding-top: 2%;
        padding-left: 2%;
        @media (max-width: 760px){
            text-align: center
        }
    }
    
    #copywrite {
        text-align: center;
        padding-top: 2%;
        @media (max-width: 760px){
            text-align: center
        }
    }
    
    #address {
        text-align: right;
        padding-top: 2%;
        padding-bottom: 18px;
        @media (max-width: 760px){
            text-align: center
        }
    }

}