@import 'fontface';
@import 'navbar';
@import 'button';
@import 'footer';
@import 'button-section';

$primary-red: #ee1d23;
$primary-yellow: #faaf18;
$primary-blue: #185494;

.container {
    max-width: 80%
}

h1 {
    font-family: 'bebas';
    color: white;
    font-size: 50pt;
    margin-bottom: 8px;
    margin-top: 8px;
}

h2 {
    font-family: 'bebas';
    color: white;
    font-size: 32pt;
    margin-bottom: 18px;
}

p {
    font-family: 'proxima-nova-light';
    color: white;
    font-size: 16pt
}

.subheader {
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent), $primary-blue;
    text-align: center;
    vertical-align: center
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    // @media screen and (max-width: 991px){
    //     background-position-x: 75%
    // }
}

.button-link {
    width: inherit;

    &:hover {
        text-decoration: none
    }
}

.bk-info {
    padding-top: 4%;
    padding-bottom: 4%
}

.r-symbol {
    font-size: 18pt
}

.hero-caption {
    padding-top: 4%
}

.hero-buttons {
    padding-top: 9%;
    @media (max-width: 991px) {
        text-align: center;
    }
}

.learn {
    @include button-section-button ("../images/comment.png")
}

.learn-active {
    @include button-section-button-active (#eb000846, "../images/comment.png")
}

.careers {
    @include button-section-button ("../images/happy-guy.png")
}

.careers-active {
    @include button-section-button-active (#faaf184b, "../images/happy-guy.png")
}

.locations {
    @include button-section-button ("../images/map-x.png")
}

.locations-active {
    @include button-section-button-active (rgba(11, 55, 201, 0.2), "../images/map-x.png")
}

.leadership-button, .careers-button {
    @include red-button;
    text-align: left;
    line-height: 26pt;
    font-size: 22pt;
    padding: 8px 0px 8px 12px;
    display: block;
    width: inherit;

    @media(max-width: 991px){
        width: auto;
        display: inline-block;
        width: 40%;
    }

    @media(max-width: 991px){
        width: 100%;
        display: block;
    }
}

.leadership-button {
    @media(max-width: 991px){
        vertical-align: top;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.careers-button {
    margin-top: 34%;

    @media(max-width: 991px){
        margin-top: 0%
    }
}

@media (min-width: 1640px) {
    .hero-buttons {
        padding-top: 6%
    }
    .careers-button {
        margin-top: 10%
    }
}