@import 'fontface';
@import 'navbar';
@import 'button';
@import 'footer';
@import 'button-section';

$primary-red: #ee1d23;
$primary-yellow: #faaf18;
$primary-blue: #185494;

.container {
    max-width: 80%;
    @media(max-width: 760px){
        max-width: 90%;
    }
}

h1 {
    font-family: 'bebas';
    color: white;
    font-size: 50pt;
    margin-bottom: 8px;
    margin-top: 8px;
    @media(max-width: 760px){
        font-size: 38pt;
    }
}

.subheader {
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent), $primary-blue;
    text-align: center;
    vertical-align: center
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/about-bg.png');;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2 {
    font-family: 'bebas';
    color: white;
    font-size: 30pt;
    line-height: 22pt;
    padding-top: 8px
}

h5 {
    font-family: 'proxima-nova-light';
    color: white;
    font-size: 16pt
}

p {
    font-family: 'proxima-nova-light';
    color: white;
    font-size: 14pt
}

.headshot {
    width: 250px;
    margin-bottom: 6px
}

.hero-caption {
    padding-top: 4%;
    padding-bottom: 6%;

    @media (max-width: 760px){
        padding-bottom: 20%
    }

}

.hero-caption2 {
    padding-bottom: 6%;

    @media (max-width: 760px){
        padding-bottom: 20%
    }
}

.headshot-container {
    text-align: center;
    padding-bottom: 4%;

    @media (max-width: 991px){
        padding-bottom: 0% !important
    }
}


.learn {
    @include button-section-button ("../images/comment.png")
}

.learn-active {
    @include button-section-button-active (#eb000846, "../images/comment.png")
}

.careers {
    @include button-section-button ("../images/happy-guy.png")
}

.careers-active {
    @include button-section-button-active (#faaf184b, "../images/happy-guy.png")
}

.locations {
    @include button-section-button ("../images/map-x.png")
}

.locations-active {
    @include button-section-button-active (rgba(11, 55, 201, 0.2), "../images/map-x.png")
}

.leadership-button, .careers-button {
    @include red-button;
    text-align: left;
    line-height: 28pt;
    font-size: 24pt;
    display: block;
    width: inherit;
    padding: 6px 0px 6px 12px;
    margin-bottom: 10%;

    @media (max-width: 991px) {
        font-size: 18pt
    }
}

.button-link {
    width: inherit;

    &:hover {
        text-decoration: none
    }
}

.r-symbol {
    font-size: 18pt
}