@import 'fontface';
@import 'navbar';
@import 'button';
@import 'footer';
@import 'button-section';

$primary-red: #ee1d23;
$primary-yellow: #faaf18;
$primary-blue: #185494;

.container {
    max-width: 80%
}

h1 {
    font-family: 'bebas';
    color: white;
    font-size: 50pt;
    margin-bottom: 8px;
    margin-top: 8px
}

.cta-btn {
  text-align: center

}

.apply-button {
  @include red-button;
  margin-bottom: 4%
}

.subheader {
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent), $primary-blue;
    text-align: center;
    vertical-align: center
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../images/burger-king-night.jpg');;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2 {
    color: white;
    font-size: 30pt;
    line-height: 35pt;
    margin-top: -6px;
    font-weight: 200
}

h5 {
    font-family: 'proxima-nova-light';
    color: white;
    font-size: 16pt
}

p {
    font-family: 'proxima-nova-light';
    color: white;
    font-size: 16pt;
    line-height: 24pt
}

.headshot {
    width: inherit;
    margin-bottom: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-caption {
    margin-top: 4%;
}

.hero-caption2 {
    padding-bottom: 6%;
    background-color: rgba(2, 0, 37, 0.534)
}

.hero-caption2 {
  padding-bottom: 4%
}

.headshot-container {
    text-align: center;
    padding-bottom: 2%
}


.learn {
    @include button-section-button ("../images/comment.png")
}

.learn-active {
    @include button-section-button-active (#eb000846, "../images/comment.png")
}

.careers {
    @include button-section-button ("../images/bk-fries.png")
}

.careers-active {
    @include button-section-button-active (#faaf184b, "../images/bk-fries.png")
}

.locations {
    @include button-section-button ("../images/map-x.png")
}

.locations-active {
    @include button-section-button-active (rgba(11, 55, 201, 0.2), "../images/map-x.png")
}

.leadership-button, .careers-button {
    @include red-button;
    text-align: left;
    line-height: 28pt;
    font-size: 24pt;
    display: block;
    width: inherit;
    padding: 6px 0px 6px 12px;
    margin-bottom: 10%
}

.button-link {
    width: inherit;

    &:hover {
        text-decoration: none
    }
}

.instant-pay {
  height: 300px;
  background-image: url("../images/instantpay.png");
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white
}

.instant-pay-promo {
  height: 300px;
  background-image: url("../images/instantpay2.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  margin-bottom: 3%;
}

.instapay-btn {
  margin-top: 10%;
  color: $primary-blue;
  border: 4px solid $primary-blue;
  background-color: rgba(201, 201, 201, 0.363);
  &:hover {
    color: $primary-blue;
  }
}

.r-symbol {
  font-size: 18pt
}

.legal-btn {
    margin-top: 10%;
    font-size: 26px;
    color: $primary-blue;
    border: 4px solid $primary-blue;
    background-color: rgba(201, 201, 201, 0.671);
    margin-top: 2%;
    &:hover {
        color: $primary-blue;
        background-color: rgb(255, 255, 255)
    }
}