@import 'navbar';
@import 'button';
@import 'footer';
@import 'fontface';
@import 'button-section';

$primary-red: #ee1d23;
$primary-yellow: #faaf18;
$primary-blue: #185494;

.container {
    max-width: 80%
}

h1 {
    font-family: 'bebas';
    color: white;
    font-size: 50pt;
    margin-bottom: 8px;
    margin-top: 8px
}

.cta-btn {
  text-align: center

}

.subheader {
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent), $primary-blue;
    text-align: center;
    vertical-align: center
}

#map {
  max-width: 100%;
  height: 400px
}

h2 {
    font-family: 'bebas';
    color: white;
    font-size: 32pt;
    line-height: 35pt;
    margin-top: -6px
}

h5 {
    font-family: 'proxima-nova-light';
    color: white;
    font-size: 16pt
}

p {
    font-family: 'proxima-nova-light';
    color: white;
    font-size: 14pt;
    line-height: 24pt
}

.map-caption {
  font-family: 'proxima-nova-light';
  color: black;
  font-size: 14pt;
  line-height: 18pt
}

.headshot {
    width: inherit;
    margin-bottom: 6px
}

.hero-caption {
    margin-top: 4%;
}

.hero-caption2 {
    padding-bottom: 6%
}

.headshot-container {
    text-align: center;
    padding-bottom: 2%
}


.bk322 {
    @include button-section-button ("../images/bk322.png")
}

.bk322-active {
    @include button-section-button-active (#eb000846, "../images/bk322.png")
}

.bk521 {
  @include button-section-button ("../images/bk521.png")
}

.bk521-active {
  @include button-section-button-active (#eb000846, "../images/bk521.png")
}

.bk1226 {
  @include button-section-button ("../images/bk1226.png")
}

.bk1226-active {
  @include button-section-button-active (#eb000846, "../images/bk1226.png")
}

.bk1404 {
  @include button-section-button ("../images/bk1404.png");
}

.bk1404-active {
  @include button-section-button-active (#eb000846, "../images/bk1404.png")
}

.bk1551 {
  @include button-section-button ("../images/bk1551.png")
}

.bk1551-active {
  @include button-section-button-active (#eb000846, "../images/bk1551.png")
}

.bk15760 {
  @include button-section-button ("../images/bk15760.png")
}

.bk15760-active {
  @include button-section-button-active (#eb000846, "../images/bk15760.png")
}

.bk14614 {
  @include button-section-button ("../images/bk14614.png")
}

.bk14614-active {
  @include button-section-button-active (#eb000846, "../images/bk14614.png")
}
.bk9423 {
  @include button-section-button ("../images/bk9423.png")
}

.bk9423-active {
  @include button-section-button-active (#eb000846, "../images/bk9423.png")
}
.bk10893 {
  @include button-section-button ("../images/bk10893.png")
}

.bk10893-active {
  @include button-section-button-active (#eb000846, "../images/bk10893.png")
}

.bk16269 {
  @include button-section-button ("../images/16269.png")
}

.bk16269-active {
  @include button-section-button-active (#eb000846, "../images/16269.png")
}

.bk23049 {
  @include button-section-button ("../images/bk23049.png")
}

.bk23049-active {
  @include button-section-button-active (#eb000846, "../images/bk23049.png")
}

.location-row {
  margin-bottom: 10px;

  .section {
    text-align: left;
  }

  h3, h4 {
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    padding: 10px 30px;

  }

  .bk1404, .bk521, .bk1226 {
      h3, h4 {
      padding: 10px 40px
    }
  }
}

.leadership-button, .careers-button {
    @include red-button;
    text-align: left;
    line-height: 28pt;
    font-size: 24pt;
    display: block;
    width: inherit;
    padding: 6px 0px 6px 12px;
    margin-bottom: 10%
}

.button-link {
    width: inherit;

    &:hover {
        text-decoration: none
    }
}

.careers {
  @include button-section-button ("../images/happy-guy.png")
}

.careers-active {
  @include button-section-button-active (#faaf184b, "../images/happy-guy.png")
}
