nav a {
  font-family: 'bebas';
  font-size: 18pt;
  color: black; }
  nav a:hover {
    text-decoration: none; }
nav .nav-item {
  text-align: center;
  margin: 20px; }
nav .nav-icon {
  height: 37px;
  padding-bottom: 5px; }

.footer-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.363), transparent, transparent); }

.footer a, .footer h6 {
  font-family: 'museo-sans';
  color: black;
  font-size: 10pt; }
.footer h5 {
  font-family: 'proxima-nova';
  color: black;
  font-size: 10pt;
  padding-top: 4%; }
.footer #legals {
  text-align: left;
  padding-top: 2%;
  padding-left: 2%; }
.footer #copywrite {
  text-align: center;
  padding-top: 2%; }
.footer #address {
  text-align: right;
  padding-top: 2%;
  padding-bottom: 18px; }

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/Bebas Neue.eot");
  src: url("../fonts/bebas/Bebas Neue.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/bebas neue.woff2") format("woff2"), url("../fonts/bebas/bebas neue.woff") format("woff"), url("../fonts/bebas/Bebas Neue.ttf") format("truetype"), url("../fonts/bebas/BebasNeue.svg#BebasNeue") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima-nova';
  src: url("../fonts/proxima-nova/Proxima Nova.eot");
  src: url("../fonts/proxima-nova/Proxima Nova.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/Proxima Nova.woff2") format("woff2"), url("../fonts/proxima-nova/Proxima Nova.woff") format("woff"), url("../fonts/proxima-nova/Proxima Nova.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima-nova-light';
  src: url("../fonts/proxima-nova-light/Proxima Nova Light.eot");
  src: url("../fonts/proxima-nova-light/Proxima Nova Light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-light/Proxima Nova Light.woff2") format("woff2"), url("../fonts/proxima-nova-light/Proxima Nova Light.woff") format("woff"), url("../fonts/proxima-nova-light/Proxima Nova Light.ttf") format("truetype"), url("../fonts/proxima-nova-light/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'museo-sans';
  src: url("../fonts/museo-sans/MuseoSansMedium.eot");
  src: url("../fonts/museo-sans/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-sans/MuseoSans-Medium.woff2") format("woff2"), url("../fonts/museo-sans/MuseoSansMedium.woff") format("woff"), url("../fonts/museo-sans/MuseoSansMedium.ttf") format("truetype"), url("../fonts/museo-sans/MuseoSansCyrl-500.svg#MuseoSansCyrl-500") format("svg");
  font-weight: normal;
  font-style: normal; }
.section {
  height: 100%; }

#red {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent), #ee1d23;
  height: inherit; }

#yellow {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent), #faaf18;
  height: inherit; }

#blue {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent), #185494;
  height: inherit; }

.large-button {
  padding: 7%; }
  .large-button h3 {
    font-family: 'bebas';
    color: black;
    font-size: 30pt;
    text-align: center; }
  .large-button h4 {
    font-family: 'proxima-nova';
    color: black;
    font-size: 16pt;
    padding-left: 5%;
    padding-right: 5%; }

.button-section:hover {
  cursor: pointer; }

.container {
  max-width: 80%; }

h1 {
  font-family: 'bebas';
  color: white;
  font-size: 50pt;
  margin-bottom: 8px;
  margin-top: 8px; }

.cta-btn {
  text-align: center; }

.subheader {
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent), #185494;
  text-align: center;
  vertical-align: center; }

#map {
  max-width: 100%;
  height: 400px; }

h2 {
  font-family: 'bebas';
  color: white;
  font-size: 32pt;
  line-height: 35pt;
  margin-top: -6px; }

h5 {
  font-family: 'proxima-nova-light';
  color: white;
  font-size: 16pt; }

p {
  font-family: 'proxima-nova-light';
  color: white;
  font-size: 14pt;
  line-height: 24pt; }

.map-caption {
  font-family: 'proxima-nova-light';
  color: black;
  font-size: 14pt;
  line-height: 18pt; }

.headshot {
  width: inherit;
  margin-bottom: 6px; }

.hero-caption {
  margin-top: 4%; }

.hero-caption2 {
  padding-bottom: 6%; }

.headshot-container {
  text-align: center;
  padding-bottom: 2%; }

.bk322 {
  background: url("../images/bk322.png");
  background-size: cover;
  background-position: right bottom; }

.bk322-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk322.png");
  background-size: cover;
  background-position: right bottom; }

.bk521 {
  background: url("../images/bk521.png");
  background-size: cover;
  background-position: right bottom; }

.bk521-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk521.png");
  background-size: cover;
  background-position: right bottom; }

.bk1226 {
  background: url("../images/bk1226.png");
  background-size: cover;
  background-position: right bottom; }

.bk1226-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk1226.png");
  background-size: cover;
  background-position: right bottom; }

.bk1404 {
  background: url("../images/bk1404.png");
  background-size: cover;
  background-position: right bottom; }

.bk1404-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk1404.png");
  background-size: cover;
  background-position: right bottom; }

.bk1551 {
  background: url("../images/bk1551.png");
  background-size: cover;
  background-position: right bottom; }

.bk1551-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk1551.png");
  background-size: cover;
  background-position: right bottom; }

.bk15760 {
  background: url("../images/bk15760.png");
  background-size: cover;
  background-position: right bottom; }

.bk15760-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk15760.png");
  background-size: cover;
  background-position: right bottom; }

.bk14614 {
  background: url("../images/bk14614.png");
  background-size: cover;
  background-position: right bottom; }

.bk14614-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk14614.png");
  background-size: cover;
  background-position: right bottom; }

.bk9423 {
  background: url("../images/bk9423.png");
  background-size: cover;
  background-position: right bottom; }

.bk9423-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk9423.png");
  background-size: cover;
  background-position: right bottom; }

.bk10893 {
  background: url("../images/bk10893.png");
  background-size: cover;
  background-position: right bottom; }

.bk10893-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk10893.png");
  background-size: cover;
  background-position: right bottom; }

.bk16269 {
  background: url("../images/16269.png");
  background-size: cover;
  background-position: right bottom; }

.bk16269-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/16269.png");
  background-size: cover;
  background-position: right bottom; }

.bk23049 {
  background: url("../images/bk23049.png");
  background-size: cover;
  background-position: right bottom; }

.bk23049-active {
  background: linear-gradient(#eb000846, #eb000846), url("../images/bk23049.png");
  background-size: cover;
  background-position: right bottom; }

.location-row {
  margin-bottom: 10px; }
  .location-row .section {
    text-align: left; }
  .location-row h3, .location-row h4 {
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    padding: 10px 30px; }
  .location-row .bk1404 h3, .location-row .bk1404 h4, .location-row .bk521 h3, .location-row .bk521 h4, .location-row .bk1226 h3, .location-row .bk1226 h4 {
    padding: 10px 40px; }

.leadership-button, .careers-button {
  border: 4px solid #ee1d23;
  font-family: 'bebas';
  font-size: 32pt;
  color: #ee1d23;
  background: rgba(0, 0, 0, 0.363);
  padding: 6px 24px;
  margin-top: 16px;
  text-align: left;
  line-height: 28pt;
  font-size: 24pt;
  display: block;
  width: inherit;
  padding: 6px 0px 6px 12px;
  margin-bottom: 10%; }
  .leadership-button:hover, .careers-button:hover {
    color: black;
    background-color: #ee1d23; }

.button-link {
  width: inherit; }
  .button-link:hover {
    text-decoration: none; }

.careers {
  background: url("../images/happy-guy.png");
  background-size: cover;
  background-position: right bottom; }

.careers-active {
  background: linear-gradient(#faaf184b, #faaf184b), url("../images/happy-guy.png");
  background-size: cover;
  background-position: right bottom; }

/*# sourceMappingURL=locations.css.map */
